{
  "env": {
    "dist": {
      "comments": false,
      "presets": ["env", "babili"]
    },
    "development": {
      "presets": ["env"]
    }
  },
  "plugins": [
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
